<!DOCTYPE html>
<html lang="en">
<head>

    <title>My first Vue Page</title>
    <style>
        .pinkBG{
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <div id="app">
        {{ message }}
        <br>
        {{'Random number: ' + Math.ceil(Math.random()*6)}}
        <div :class="vueClass">
            <p v-bind:style="{fontSize: size}">Hi</p>
        </div>
        <p v-if="hello"> Hello</p>
        <p v-else-if="helloCount>4"> 4+ Hello</p>
        <p v-else-if="hellotext.includes('Amit')"> Hi {{hellotext}}</p>
        <p v-else> Bye</p>
        <p v-show="Namaskar"> Namaskar</p>
        <p v-for="(x,index) in manyNames" v-on:click="hellotext = x">
          {{index}}: {{x}} <br>
        </p>
        <p> {{hellotext}}</p>
        <p> {{"People Count: " + count}}</p>
        <button v-on:click="writeText">Click here for methods</button>
        <button v-on:click="count++">Count People</button>
        <!-- <div v-bind:[attribute]="[Vue data]"></div> -->

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>

        const app = Vue.createApp({
          data() {
            return {
              vueClass: "pinkBG",
              size: '28px',
              hello: false,
              helloCount: 4,
              hellotext: 'Amit',
              Namaskar: true,
              manyNames: ["ram","sham","sita","raman"],
              count:0
            }
          },
          methods: {
            writeText(){
              this.hellotext = this.hellotext + 'Hello'
            }
          }
        })
      
       app.mount('#app')
      
      </script>
</body>
</html>